*{
    margin:0px;
    padding:0px;
}

.jiraBoard{
    display:flex;
    justify-content: space-around;
    padding:20px;
}

.column{
    border:1px solid red;
    min-height:400px;
    width:180px;
    text-align: center;
    padding:5px;


    
}